body{
  background-color:gray;
  margin-top: 60px;
}
#main{
  background-color :white;
  text-align: center;
  justify-content: center;
  border-radius:18px;
  height:500px;
  padding-top:20px;
}
.title {
	color: #5C6AC4;
}
#head{
  color: #D10D34;
}
#textBox1{
   border-radius: 3px;
   height: 30px;
   border-color: black;
   border-top-left-radius: 10px;
   border-bottom-left-radius: 10px;
   border-right: none;
   border-top-right-radius: 0px;
   border-bottom-right-radius: 0px;
   padding-right: -10px;
  margin-left:40px;
}
button{
  background-color:#36666E;
  color:white;
  border-radius: 0px;
  height: 35px;
  width: 60px;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
 
  
  
}
#taskContainer{
  background-color :#91B56D;
  width: 260px;
  height: 300px;
  padding: 3px;
  margin-left: 50px;
  margin-top: 8px;
  overflow: scroll;
  
 
}
#items{
  list-style-type: circle;
  border: 3px solid black;
  background-color:gray;
  height: 30px;
  padding: 8px;
  font-weight: bold;
  overflow: scroll;
  
}
#btn1{
  float: right;
}